In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv

In [2]:
# Carrega .env e cria engine (se ainda não existir na sessão)
load_dotenv()
DATABASE_URL = os.getenv(
    "DATABASE_URL",
    "postgresql://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala"
)
engine = create_engine(DATABASE_URL)

In [3]:
# Carrega .env e cria engine (se ainda não existir na sessão)
load_dotenv()
DATABASE_URL = os.getenv(
    "DATABASE_URL",
    "postgresql://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala"
)
engine = create_engine(DATABASE_URL)

In [4]:
# 1) Ler a tabela bronze
query_silver = "SELECT * FROM silver.inventario_estufas_silver"
df_silver = pd.read_sql(query_silver, engine)

print("Silver shape:", df_silver.shape)

Silver shape: (99, 15)

In [5]:
display(df_silver)

,bloco_modelado,bloco,naves,n_naves,area_nave,area_total,cultura,idade,semana_plantio,data_plantio,ano,semana_inventario,arquivo_origem,artigo_id_global,artigo_id_bloco
0,Bloco 1,1,1 a 23,14.0,0.057,0.798,Flores,NaN,NaN,NaT,2025,48,ES2548 Inventário Estufas - Semana 48 2025.pdf,0107,010701
1,Bloco 2,2,1 a 19,19.0,0.057,1.083,Flores,NaN,NaN,NaT,2025,48,ES2548 Inventário Estufas - Semana 48 2025.pdf,0107,010702
2,Bloco 3,3,1 a 19,19.0,0.057,1.083,Operações Campo Aberto e Café,NaN,NaN,NaT,2025,48,ES2548 Inventário Estufas - Semana 48 2025.pdf,0107,010703
3,Bloco 4,4,1 a 8,8.0,0.057,0.456,Em limpeza.,NaN,NaN,NaT,2025,48,ES2548 Inventário Estufas - Semana 48 2025.pdf,0107,010704
4,Bloco 4,4,10 a 17,8.0,0.057,0.456,Operações Campo Aberto e Café,NaN,NaN,NaT,2025,48,ES2548 Inventário Estufas - Semana 48 2025.pdf,0107,010704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Bloco 21,21,1 a 20,20.0,0.060,1.200,Em limpeza.,NaN,NaN,NaT,2025,50,ES2550 Inventário Estufas - Semana 50 2025.pdf,0107,010721
95,Bloco 22,22,1 a 20,20.0,0.060,1.200,Em preparo de Solo (Tomate),NaN,NaN,NaT,2025,50,ES2550 Inventário Estufas - Semana 50 2025.pdf,0107,010722
96,Bloco 23,23,1 a 20,20.0,0.060,1.200,Tomate,10.0,40.0,2025-09-30,2025,50,ES2550 Inventário Estufas - Semana 50 2025.pdf,0107,010723
97,Bloco 24,24,1 a 20,20.0,0.060,1.200,Flores,NaN,NaN,NaT,2025,50,ES2550 Inventário Estufas - Semana 50 2025.pdf,0107,010724
98,Bloco 25,25,1 a 20,20.0,0.060,1.200,Flores,NaN,NaN,NaT,2025,50,ES2550 Inventário Estufas - Semana 50 2025.pdf,0107,010725