In [1]:
from sqlalchemy import create_engine, text

In [2]:
CONN_STR = "postgresql+psycopg2://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala"
engine = create_engine(CONN_STR)

In [ ]:
ddl = """
CREATE SCHEMA IF NOT EXISTS gold;

DROP TABLE IF EXISTS gold.kpi_ocupacao_bloco_semana;

CREATE TABLE gold.kpi_ocupacao_bloco_semana (
  ano_semana TEXT NOT NULL,
  ano INT NOT NULL,
  semana INT NOT NULL,

  bloco_id INT NOT NULL,

  n_naves_total INT,
  n_naves_ocupadas INT,
  naves_ocupadas_pct NUMERIC(10,4),

  area_total_bloco_ha NUMERIC(12,3),
  area_ocupada_ha NUMERIC(12,3),
  area_livre_ha NUMERIC(12,3),
  ocupacao_pct NUMERIC(10,4),

  n_culturas_ativas INT,

  PRIMARY KEY (ano_semana, bloco_id)
);
"""

load_sql = """
INSERT INTO gold.kpi_ocupacao_bloco_semana (
  ano_semana,
  ano,
  semana,
  bloco_id,
  n_naves_total, 
  n_naves_ocupadas, 
  naves_ocupadas_pct,
  area_total_bloco_ha, 
  area_ocupada_ha, 
  area_livre_ha, 
  ocupacao_pct,
  n_culturas_ativas,
  culturas_id
)
WITH inv AS (
  SELECT
    ano_semana,
    ano,
    semana,
    bloco_id,
    COUNT(*)::int AS n_naves_ocupadas,
    SUM(COALESCE(area_ha,0))::numeric(12,3) AS area_ocupada_ha,
    COUNT(DISTINCT cultura_id)::int AS n_culturas_ativas
  FROM silver.fact_inventario_nave
  GROUP BY 1,2,3,4
),
base AS (
  SELECT
    COALESCE(inv.ano_semana, t.ano_semana) AS ano_semana,
    COALESCE(inv.ano, t.ano) AS ano,
    COALESCE(inv.semana, t.semana) AS semana,
    b.bloco_id,
    b.n_naves::int AS n_naves_total,
    b.area_total::numeric(12,3) AS area_total_bloco_ha,
    COALESCE(inv.n_naves_ocupadas,0)::int AS n_naves_ocupadas,
    COALESCE(inv.area_ocupada_ha,0)::numeric(12,3) AS area_ocupada_ha,
    COALESCE(inv.n_culturas_ativas,0)::int AS n_culturas_ativas
  FROM silver.dim_estufa_bloco b
  -- gera semanas existentes (dim_tempo) para permitir bloco aparecer mesmo vazio
  CROSS JOIN silver.dim_tempo t
  LEFT JOIN inv
    ON inv.ano_semana = t.ano_semana
   AND inv.bloco_id = b.bloco_id
)
SELECT
  ano_semana, ano, semana, bloco_id,

  n_naves_total,
  n_naves_ocupadas,
  CASE
    WHEN n_naves_total IS NULL OR n_naves_total = 0 THEN NULL
    ELSE (n_naves_ocupadas::numeric / n_naves_total::numeric)
  END AS naves_ocupadas_pct,

  area_total_bloco_ha,
  area_ocupada_ha,
  (area_total_bloco_ha - area_ocupada_ha) AS area_livre_ha,
  CASE
    WHEN area_total_bloco_ha IS NULL OR area_total_bloco_ha = 0 THEN NULL
    ELSE (area_ocupada_ha / area_total_bloco_ha)
  END AS ocupacao_pct,

  n_culturas_ativas
FROM base
ON CONFLICT (ano_semana, bloco_id)
DO UPDATE SET
  ano = EXCLUDED.ano,
  semana = EXCLUDED.semana,
  n_naves_total = EXCLUDED.n_naves_total,
  n_naves_ocupadas = EXCLUDED.n_naves_ocupadas,
  naves_ocupadas_pct = EXCLUDED.naves_ocupadas_pct,
  area_total_bloco_ha = EXCLUDED.area_total_bloco_ha,
  area_ocupada_ha = EXCLUDED.area_ocupada_ha,
  area_livre_ha = EXCLUDED.area_livre_ha,
  ocupacao_pct = EXCLUDED.ocupacao_pct,
  n_culturas_ativas = EXCLUDED.n_culturas_ativas;
"""

with engine.begin() as conn:
    conn.execute(text(ddl))
    conn.execute(text(load_sql))

print("✅ GOLD criada e carregada: gold.kpi_ocupacao_bloco_semana")

✅ GOLD criada e carregada: gold.kpi_ocupacao_bloco_semana