In [3]:
from sqlalchemy import create_engine, text
import pandas as pd


CONN_STR = "postgresql+psycopg2://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala"
engine = create_engine(CONN_STR)

In [4]:

# 1) DDL: cria schema e tabela
ddl = """
CREATE SCHEMA IF NOT EXISTS gold;

DROP TABLE IF EXISTS gold.kpi_produtividade_bloco_cultura_semana;

CREATE TABLE gold.kpi_produtividade_bloco_cultura_semana (
  ano_semana TEXT NOT NULL,
  ano INT NOT NULL,
  semana INT NOT NULL,

  bloco_id INT NOT NULL,
  cultura_id INT NOT NULL,

  area_ocupada_ha NUMERIC(12,3),

  peso_normal_kg NUMERIC(12,2),
  peso_refugo_kg NUMERIC(12,2),
  peso_total_kg  NUMERIC(12,2),

  caixas_normal  NUMERIC(12,2),
  caixas_refugo  NUMERIC(12,2),

  refugo_pct NUMERIC(8,4),
  kg_ha      NUMERIC(12,2),

  PRIMARY KEY (ano_semana, bloco_id, cultura_id)
);
"""

# 2) SQL de carga (UPSERT)
load_sql = """
INSERT INTO gold.kpi_produtividade_bloco_cultura_semana (
  ano_semana, ano, semana, bloco_id, cultura_id,
  area_ocupada_ha,
  peso_normal_kg, peso_refugo_kg, peso_total_kg,
  caixas_normal, caixas_refugo,
  refugo_pct, kg_ha
)
WITH area AS (
  SELECT
    ano_semana,
    ano,
    semana,
    bloco_id,
    cultura_id,
    SUM(COALESCE(area_ha,0))::numeric(12,3) AS area_ocupada_ha
  FROM silver.fact_inventario_nave
  GROUP BY 1,2,3,4,5
),
colh AS (
  SELECT
    ano_semana,
    ano,
    semana,
    bloco_id,
    cultura_id,
    COALESCE(peso_normal_kg,0)::numeric(12,2) AS peso_normal_kg,
    COALESCE(peso_refugo_kg,0)::numeric(12,2) AS peso_refugo_kg,
    (COALESCE(peso_normal_kg,0) + COALESCE(peso_refugo_kg,0))::numeric(12,2) AS peso_total_kg,
    COALESCE(caixas_normal,0)::numeric(12,2) AS caixas_normal,
    COALESCE(caixas_refugo,0)::numeric(12,2) AS caixas_refugo
  FROM silver.fact_colheita_linha
)
SELECT
  COALESCE(a.ano_semana, c.ano_semana) AS ano_semana,
  COALESCE(a.ano, c.ano) AS ano,
  COALESCE(a.semana, c.semana) AS semana,
  COALESCE(a.bloco_id, c.bloco_id) AS bloco_id,
  COALESCE(a.cultura_id, c.cultura_id) AS cultura_id,

  a.area_ocupada_ha,

  c.peso_normal_kg,
  c.peso_refugo_kg,
  c.peso_total_kg,
  c.caixas_normal,
  c.caixas_refugo,

  CASE
    WHEN c.peso_total_kg IS NULL OR c.peso_total_kg = 0 THEN NULL
    ELSE (c.peso_refugo_kg / c.peso_total_kg)
  END AS refugo_pct,

  CASE
    WHEN a.area_ocupada_ha IS NULL OR a.area_ocupada_ha = 0 THEN NULL
    ELSE (COALESCE(c.peso_total_kg,0) / a.area_ocupada_ha)
  END AS kg_ha
FROM area a
FULL OUTER JOIN colh c
  ON a.ano_semana = c.ano_semana
 AND a.bloco_id   = c.bloco_id
 AND a.cultura_id = c.cultura_id
ON CONFLICT (ano_semana, bloco_id, cultura_id)
DO UPDATE SET
  ano = EXCLUDED.ano,
  semana = EXCLUDED.semana,
  area_ocupada_ha = EXCLUDED.area_ocupada_ha,
  peso_normal_kg = EXCLUDED.peso_normal_kg,
  peso_refugo_kg = EXCLUDED.peso_refugo_kg,
  peso_total_kg = EXCLUDED.peso_total_kg,
  caixas_normal = EXCLUDED.caixas_normal,
  caixas_refugo = EXCLUDED.caixas_refugo,
  refugo_pct = EXCLUDED.refugo_pct,
  kg_ha = EXCLUDED.kg_ha;
"""

with engine.begin() as conn:
    conn.execute(text(ddl))
    conn.execute(text(load_sql))

print("✅ GOLD criada e carregada: gold.kpi_produtividade_bloco_cultura_semana")

✅ GOLD criada e carregada: gold.kpi_produtividade_bloco_cultura_semana