In [1]:
from sqlalchemy import create_engine, text

In [2]:

CONN_STR = "postgresql+psycopg2://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala"
engine = create_engine(CONN_STR)

In [4]:
ddl = """
CREATE SCHEMA IF NOT EXISTS gold;

DROP TABLE IF EXISTS gold.kpi_produtividade_bloco_cultura_semana;

CREATE TABLE gold.kpi_produtividade_bloco_cultura_semana (
  ano_semana TEXT NOT NULL,
  ano INT NOT NULL,
  semana INT NOT NULL,

  bloco_id INT NOT NULL,
  cultura_id INT NOT NULL,

  area_ocupada_ha NUMERIC(12,3),

  -- SEMANAL
  peso_semana_normal_kg NUMERIC(12,2),
  peso_semana_refugo_kg NUMERIC(12,2),
  peso_semana_total_kg  NUMERIC(12,2),
  caixas_semana_normal  NUMERIC(12,2),
  caixas_semana_refugo  NUMERIC(12,2),

  -- ACUMULADO
  peso_acum_normal_kg NUMERIC(12,2),
  peso_acum_refugo_kg NUMERIC(12,2),
  peso_acum_total_kg  NUMERIC(12,2),
  caixas_acum_normal  NUMERIC(12,2),
  caixas_acum_refugo  NUMERIC(12,2),

  -- TOTALIZADOR (normalmente “total de caixas” ou linhas técnicas)
  caixas_totalizador NUMERIC(12,2),

  -- KPIs (baseados no SEMANAL)
  refugo_pct_semana NUMERIC(10,4),
  kg_ha_semana      NUMERIC(12,2),

  PRIMARY KEY (ano_semana, bloco_id, cultura_id)
);
"""

load_sql = """
INSERT INTO gold.kpi_produtividade_bloco_cultura_semana (
  ano_semana, ano, semana, bloco_id, cultura_id,
  area_ocupada_ha,

  peso_semana_normal_kg, peso_semana_refugo_kg, peso_semana_total_kg,
  caixas_semana_normal, caixas_semana_refugo,

  peso_acum_normal_kg, peso_acum_refugo_kg, peso_acum_total_kg,
  caixas_acum_normal, caixas_acum_refugo,

  caixas_totalizador,

  refugo_pct_semana, kg_ha_semana
)
WITH area AS (
  SELECT
    ano_semana, ano, semana, bloco_id, cultura_id,
    SUM(COALESCE(area_ha,0))::numeric(12,3) AS area_ocupada_ha
  FROM silver.fact_inventario_nave
  GROUP BY 1,2,3,4,5
),
colheita AS (
  SELECT
    ano_semana, ano, semana, bloco_id, cultura_id,

    -- SEMANAL
    SUM(CASE WHEN tipo_resultado='SEMANAL' THEN COALESCE(peso_normal_kg,0) ELSE 0 END)::numeric(12,2) AS peso_semana_normal_kg,
    SUM(CASE WHEN tipo_resultado='SEMANAL' THEN COALESCE(peso_refugo_kg,0) ELSE 0 END)::numeric(12,2) AS peso_semana_refugo_kg,
    SUM(CASE WHEN tipo_resultado='SEMANAL' THEN COALESCE(caixas_normal,0)  ELSE 0 END)::numeric(12,2) AS caixas_semana_normal,
    SUM(CASE WHEN tipo_resultado='SEMANAL' THEN COALESCE(caixas_refugo,0)  ELSE 0 END)::numeric(12,2) AS caixas_semana_refugo,

    -- ACUMULADO
    SUM(CASE WHEN tipo_resultado='ACUMULADO' THEN COALESCE(peso_normal_kg,0) ELSE 0 END)::numeric(12,2) AS peso_acum_normal_kg,
    SUM(CASE WHEN tipo_resultado='ACUMULADO' THEN COALESCE(peso_refugo_kg,0) ELSE 0 END)::numeric(12,2) AS peso_acum_refugo_kg,
    SUM(CASE WHEN tipo_resultado='ACUMULADO' THEN COALESCE(caixas_normal,0)  ELSE 0 END)::numeric(12,2) AS caixas_acum_normal,
    SUM(CASE WHEN tipo_resultado='ACUMULADO' THEN COALESCE(caixas_refugo,0)  ELSE 0 END)::numeric(12,2) AS caixas_acum_refugo,

    -- TOTALIZADOR (assumindo que vem em caixas_normal ou caixas_refugo; ajuste se for diferente)
    SUM(CASE WHEN tipo_resultado='TOTALIZADOR' THEN COALESCE(caixas_normal,0) + COALESCE(caixas_refugo,0) ELSE 0 END)::numeric(12,2) AS caixas_totalizador

  FROM silver.fact_colheita_linha
  GROUP BY 1,2,3,4,5
),
base AS (
  SELECT
    COALESCE(a.ano_semana, c.ano_semana) AS ano_semana,
    COALESCE(a.ano, c.ano) AS ano,
    COALESCE(a.semana, c.semana) AS semana,
    COALESCE(a.bloco_id, c.bloco_id) AS bloco_id,
    COALESCE(a.cultura_id, c.cultura_id) AS cultura_id,

    COALESCE(a.area_ocupada_ha,0)::numeric(12,3) AS area_ocupada_ha,

    COALESCE(c.peso_semana_normal_kg,0)::numeric(12,2) AS peso_semana_normal_kg,
    COALESCE(c.peso_semana_refugo_kg,0)::numeric(12,2) AS peso_semana_refugo_kg,
    (COALESCE(c.peso_semana_normal_kg,0) + COALESCE(c.peso_semana_refugo_kg,0))::numeric(12,2) AS peso_semana_total_kg,
    COALESCE(c.caixas_semana_normal,0)::numeric(12,2) AS caixas_semana_normal,
    COALESCE(c.caixas_semana_refugo,0)::numeric(12,2) AS caixas_semana_refugo,

    COALESCE(c.peso_acum_normal_kg,0)::numeric(12,2) AS peso_acum_normal_kg,
    COALESCE(c.peso_acum_refugo_kg,0)::numeric(12,2) AS peso_acum_refugo_kg,
    (COALESCE(c.peso_acum_normal_kg,0) + COALESCE(c.peso_acum_refugo_kg,0))::numeric(12,2) AS peso_acum_total_kg,
    COALESCE(c.caixas_acum_normal,0)::numeric(12,2) AS caixas_acum_normal,
    COALESCE(c.caixas_acum_refugo,0)::numeric(12,2) AS caixas_acum_refugo,

    COALESCE(c.caixas_totalizador,0)::numeric(12,2) AS caixas_totalizador

  FROM area a
  FULL OUTER JOIN colheita c
    ON a.ano_semana = c.ano_semana
   AND a.bloco_id   = c.bloco_id
   AND a.cultura_id = c.cultura_id
)
SELECT
  ano_semana, ano, semana, bloco_id, cultura_id,
  area_ocupada_ha,

  peso_semana_normal_kg, peso_semana_refugo_kg, peso_semana_total_kg,
  caixas_semana_normal, caixas_semana_refugo,

  peso_acum_normal_kg, peso_acum_refugo_kg, peso_acum_total_kg,
  caixas_acum_normal, caixas_acum_refugo,

  caixas_totalizador,

  CASE
    WHEN peso_semana_total_kg = 0 THEN NULL
    ELSE (peso_semana_refugo_kg / peso_semana_total_kg)
  END AS refugo_pct_semana,

  CASE
    WHEN area_ocupada_ha = 0 THEN NULL
    ELSE (peso_semana_total_kg / area_ocupada_ha)
  END AS kg_ha_semana
FROM base
ON CONFLICT (ano_semana, bloco_id, cultura_id)
DO UPDATE SET
  ano = EXCLUDED.ano,
  semana = EXCLUDED.semana,
  area_ocupada_ha = EXCLUDED.area_ocupada_ha,

  peso_semana_normal_kg = EXCLUDED.peso_semana_normal_kg,
  peso_semana_refugo_kg = EXCLUDED.peso_semana_refugo_kg,
  peso_semana_total_kg  = EXCLUDED.peso_semana_total_kg,
  caixas_semana_normal  = EXCLUDED.caixas_semana_normal,
  caixas_semana_refugo  = EXCLUDED.caixas_semana_refugo,

  peso_acum_normal_kg = EXCLUDED.peso_acum_normal_kg,
  peso_acum_refugo_kg = EXCLUDED.peso_acum_refugo_kg,
  peso_acum_total_kg  = EXCLUDED.peso_acum_total_kg,
  caixas_acum_normal  = EXCLUDED.caixas_acum_normal,
  caixas_acum_refugo  = EXCLUDED.caixas_acum_refugo,

  caixas_totalizador = EXCLUDED.caixas_totalizador,

  refugo_pct_semana = EXCLUDED.refugo_pct_semana,
  kg_ha_semana      = EXCLUDED.kg_ha_semana;
"""
with engine.begin() as conn:
    conn.execute(text(ddl))
    conn.execute(text(load_sql))

print("✅ GOLD pronta: gold.kpi_produtividade_bloco_cultura_semana (colunas SEMANAL/ACUMULADO/TOTALIZADOR)")

✅ GOLD pronta: gold.kpi_produtividade_bloco_cultura_semana (colunas SEMANAL/ACUMULADO/TOTALIZADOR)