In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import re
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import os

In [2]:

#Leitura dos arquivos que estão organizados em uma unica pasta e contagem 
base = Path(r"C:\Users\cauai.Capozzoli\Desktop\DB\estufas\add_on")
files = sorted([p for p in base.glob("*.xlsx")] + [p for p in base.glob("*.xls")])

len(files), [f.name for f in files]

(27,
 ['estufas_bloco_01_flores.xlsx',
  'estufas_bloco_01_viveiro.xlsx',
  'estufas_bloco_02_flores.xlsx',
  'estufas_bloco_03_cafe_sementes.xlsx',
  'estufas_bloco_03_feijão.xlsx',
  'estufas_bloco_04.xlsx',
  'estufas_bloco_04_physalis.xlsx',
  'estufas_bloco_05_alface.xlsx',
  'estufas_bloco_06_tomate.xlsx',
  'estufas_bloco_07_tomate.xlsx',
  'estufas_bloco_08_tomate.xlsx',
  'estufas_bloco_09_tomate.xlsx',
  'estufas_bloco_10_tomate.xlsx',
  'estufas_bloco_11_pimento.xlsx',
  'estufas_bloco_12_tomate.xlsx',
  'estufas_bloco_13_alface.xlsx',
  'estufas_bloco_14_feijao.xlsx',
  'estufas_bloco_14_pepino.xlsx',
  'estufas_bloco_15_pimento.xlsx',
  'estufas_bloco_16_tomate.xlsx',
  'estufas_bloco_18_tomate.xlsx',
  'estufas_bloco_19_courgette.xlsx',
  'estufas_bloco_20_tomate.xlsx',
  'estufas_bloco_22_tomate.xlsx',
  'estufas_bloco_23.xlsx',
  'estufas_bloco_24_flores.xlsx',
  'estufas_bloco_25_flores.xlsx'])

In [3]:
#Contagem de linhas e colunas dos arquivos

resumo = []

for f in files: 
    xls = pd.ExcelFile(f)
    sheet = xls.sheet_names[0]
    df = pd.read_excel(f, sheet_name=sheet)
    linhas, colunas = df.shape
    resumo.append({"arquivo":f.name,
                   "aba":sheet,
                   "linhas":linhas,
                   "colunas":colunas})
resumo_df = pd.DataFrame(resumo).sort_values("arquivo")
resumo_df

                                arquivo               aba  linhas  colunas
0          estufas_bloco_01_flores.xlsx  Centros de Custo    1089       11
1         estufas_bloco_01_viveiro.xlsx  Centros de Custo      61       11
2          estufas_bloco_02_flores.xlsx  Centros de Custo    1060       11
3   estufas_bloco_03_cafe_sementes.xlsx  Centros de Custo     335       11
4          estufas_bloco_03_feijão.xlsx  Centros de Custo      11       11
5                 estufas_bloco_04.xlsx  Centros de Custo    5929       11
6        estufas_bloco_04_physalis.xlsx  Centros de Custo    5929       11
7          estufas_bloco_05_alface.xlsx  Centros de Custo      19       11
8          estufas_bloco_06_tomate.xlsx  Centros de Custo       3       11
9          estufas_bloco_07_tomate.xlsx  Centros de Custo     215       11
10         estufas_bloco_08_tomate.xlsx  Centros de Custo     613       11
11         estufas_bloco_09_tomate.xlsx  Centros de Custo     911       11
12         estufas_bloco_10_tomate.xlsx  Centros de Custo      67       11
13        estufas_bloco_11_pimento.xlsx  Centros de Custo     498       11
14         estufas_bloco_12_tomate.xlsx  Centros de Custo     503       11
15         estufas_bloco_13_alface.xlsx  Centros de Custo      29       11
16         estufas_bloco_14_feijao.xlsx  Centros de Custo     123       11
17         estufas_bloco_14_pepino.xlsx  Centros de Custo     211       11
18        estufas_bloco_15_pimento.xlsx  Centros de Custo    1483       11
19         estufas_bloco_16_tomate.xlsx  Centros de Custo    1279       11
20         estufas_bloco_18_tomate.xlsx  Centros de Custo     304       11
21      estufas_bloco_19_courgette.xlsx  Centros de Custo     634       11
22         estufas_bloco_20_tomate.xlsx  Centros de Custo    1227       11
23         estufas_bloco_22_tomate.xlsx  Centros de Custo       7       11
24                estufas_bloco_23.xlsx  Centros de Custo     188       16
25         estufas_bloco_24_flores.xlsx  Centros de Custo    1102       11
26         estufas_bloco_25_flores.xlsx  Centros de Custo    4384       11

In [4]:
frames = []
erros = []

for f in files:
    try:
        df = pd.read_excel(f)
        if df.empty:
            print(f"Aviso: {f.name} está vazio.")
            continue

        df["arquivo"] = f.stem  
        frames.append(df)

    except Exception as e:
        erros.append({"arquivo": f.name, "erro": str(e)})

df.head(5)

,Data,Serie,Tipo Doc,Num Doc,Artigo,Descricao,PCusto,Quantidade,Unidade,Total,Num Linha,arquivo
0,2025-12-06,25,GTR,23073,10504101103,Biolider Java emulsão,0.00000,8.0,L,0.0000,1,estufas_bloco_25_flores
1,2025-12-06,25,GTR,23073,10504500302,Biolider Fusion emulsão,0.00000,8.0,L,0.0000,2,estufas_bloco_25_flores
2,2025-12-06,25,GTR,23073,10505000101,Biolider Fungicida triplo,0.00000,8.0,L,0.0000,3,estufas_bloco_25_flores
3,2025-12-06,25,GTR,23033,10201000802,Nit. Calcio Calcinit Yara,642.46366,150.0,KG,96369.5490,1,estufas_bloco_25_flores
4,2025-12-05,25,GTR,22967,10201001006,Nit. Magnesio Coopagro,269.99088,30.0,KG,8099.7264,1,estufas_bloco_25_flores

In [5]:
df_all = pd.concat(frames, ignore_index=True)
print("Arquivos lidos:", len(files))
print("DataFrame final:", df_all.shape)
df_all.head()

Arquivos lidos: 27
DataFrame final: (28214, 27)

,Data,Serie,Tipo Doc,Num Doc,Artigo,Descricao,PCusto,Quantidade,Unidade,Total,...,N. Dias,Data de Colheita,Data de Fim,Area,N. Plantas,Variedade,Macro,Zona,Sub-Zona,Obs
0,2025-12-08,25.0,GTR,23088.0,1.010080e+10,Oxitetraciclina,34304.01356,0.3,KG,10291.204068,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-12-08,25.0,GTR,23088.0,1.010010e+10,Promanal Agro 830g/L EC,438.24000,1.8,L,788.832000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-12-06,25.0,GTR,23030.0,1.020100e+10,Nit. Calcio Calcinit Yara,642.46366,6.0,KG,3854.781960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-12-05,25.0,GTR,22944.0,1.020100e+10,Nit. Magnesio Coopagro,269.99088,6.0,KG,1619.945280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-12-05,25.0,GTR,22944.0,1.020100e+10,Ureia 46% Ampex Global,553.29674,3.0,KG,1659.890220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
renome_colunas = {
    'Data':'data',
    'Serie':'serie',
    'Tipo Doc':'tipo_doc',
    'Num Doc':'num_doc',
    'Artigo':'artigo',
    'Descricao':'descricao',
    'PCusto':'preco_custo',
    'Quantidade':'quantidade',
    'Unidade':'unidade',
    'Total':'total',
    'Num Linha':'num_linha',
    'arquivo':'parcela'}

df_all = df_all.rename(columns=renome_colunas)
df_all

,data,serie,tipo_doc,num_doc,artigo,descricao,preco_custo,quantidade,unidade,total,...,N. Dias,Data de Colheita,Data de Fim,Area,N. Plantas,Variedade,Macro,Zona,Sub-Zona,Obs
0,2025-12-08,25.0,GTR,23088.0,1.010080e+10,Oxitetraciclina,34304.01356,0.3,KG,10291.204068,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-12-08,25.0,GTR,23088.0,1.010010e+10,Promanal Agro 830g/L EC,438.24000,1.8,L,788.832000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-12-06,25.0,GTR,23030.0,1.020100e+10,Nit. Calcio Calcinit Yara,642.46366,6.0,KG,3854.781960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-12-05,25.0,GTR,22944.0,1.020100e+10,Nit. Magnesio Coopagro,269.99088,6.0,KG,1619.945280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-12-05,25.0,GTR,22944.0,1.020100e+10,Ureia 46% Ampex Global,553.29674,3.0,KG,1659.890220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28209,2022-11-29,22.0,GTR,9814.0,1.020100e+10,Ureia 46% Angata,588.00000,5.0,KG,2940.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28210,2022-11-11,22.0,GTR,8954.0,1.010010e+10,Kimazine 100g,5775.00000,1.0,L,5775.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28211,2022-11-04,22.0,GTR,8513.0,1.040300e+10,Placa Pacote Horiver Amarelo 400x250 mm,393.22697,840.0,UN,330310.654800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28212,2022-10-04,22.0,GTR,6632.0,1.010010e+10,Trilamazer 100 Sl,6891.60145,1.0,L,6891.601450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28213,2022-09-21,22.0,GTR,5884.0,1.010030e+10,Metham Sodium 35% Bos,1044.96658,800.0,L,835973.264000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# dicionário de mapeamento -> arquivo (sem .xlsx) -> cultura
map_cultura = {
    "estufa_bloco_08": "tomate",
    "estufa_bloco_11": "pimento",
    "estufa_bloco_12": "tomate",
}

# cria a coluna 'cultura' a partir do nome do arquivo
df_all["cultura"] = df_all["parcela"].map(map_cultura)

In [8]:
taxa_cambio = 917

df_all["total_usd"] = df_all["total"] / taxa_cambio

In [9]:
# Carrega variáveis do .env na raiz do projeto
load_dotenv()

# Tenta pegar a DATABASE_URL do .env.
# Exemplo no .env:
# DATABASE_URL=postgresql://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala
DATABASE_URL = os.getenv(
    "DATABASE_URL",
    "postgresql://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala"
)

engine = create_engine(DATABASE_URL)

# (Opcional, mas recomendado) garantir que o schema bronze exista
with engine.begin() as conn:
    conn.execute(text("CREATE SCHEMA IF NOT EXISTS bronze;"))

print("Conexão criada com sucesso:", DATABASE_URL)

Conexão criada com sucesso: postgresql://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala

In [10]:
# 3) Gravar na camada bronze do Postgres
tabela_bronze = "add_on_estufas_bronze"

df_all.to_sql(
    name=tabela_bronze,
    con=engine,
    schema="bronze",   # vai cair em bronze.inventario_estufas
    if_exists="replace",  # ou "append" quando for carga incremental
    index=False
)

print(f"Tabela bronze.{tabela_bronze} carregada com sucesso no Postgres! ✅")

Tabela bronze.add_on_estufas_bronze carregada com sucesso no Postgres! ✅