In [11]:
import os
from pathlib import Path
from datetime import datetime
import re

import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

In [2]:
# =========================
# CONFIG
# =========================
FILE_PATH = r"C:\Users\cauai.Capozzoli\Desktop\DB\estufas\colheita\colheita_estufas.xlsx"
SHEET_WEEK_PATTERN = r"^S(\d{2})"  # S01..S52

BRONZE_XLSX_DIR = r"C:\Users\cauai.Capozzoli\Desktop\repo-local\app_estufas\app_estufa\notebooks\bronze"
BRONZE_XLSX_NAME = "bronze_colheitas_estufas.xlsx"

ANO_FALLBACK = 2025

In [3]:
def norm(x):
    return str(x).strip().lower() if pd.notna(x) else ""

def parse_ano_from_filename(file_path: str, ano_fallback=2025):
    name = Path(file_path).name
    m = re.search(r"(20\d{2})", name)
    return int(m.group(1)) if m else int(ano_fallback)

def find_header_row(raw, max_rows=80):
    for i in range(min(len(raw), max_rows)):
        row = [norm(v) for v in raw.iloc[i].tolist()]
        if ("bloco" in row) and ("cultura" in row):
            return i
    return None

def to_float(series: pd.Series) -> pd.Series:
    s = series.astype(str).str.strip()
    s = s.str.replace(".", "", regex=False)   # separador milhar
    s = s.str.replace(",", ".", regex=False)  # decimal
    return pd.to_numeric(s, errors="coerce").fillna(0.0)

# ---- TOTAL CAIXAS robusto (texto/mesclado) ----
import re as _re

def _parse_number_from_any(x):
    if pd.isna(x):
        return None
    s = str(x).strip()
    if s == "":
        return None

    m = _re.search(r"(\d[\d\.\,\s]*)", s)
    if not m:
        return None

    num = m.group(1).replace(" ", "")

    if "," in num and "." in num:
        num = num.replace(".", "").replace(",", ".")
    else:
        num = num.replace(",", ".")
        if num.count(".") > 1:
            num = num.replace(".", "")

    try:
        return float(num)
    except:
        return None

def extract_total_caixas_rodape(raw: pd.DataFrame):
    found = None
    for i in range(len(raw)):
        for j in range(raw.shape[1]):
            v = raw.iat[i, j]
            if isinstance(v, str) and "total caixas" in v.strip().lower():
                found = (i, j)
                break
        if found:
            break

    if not found:
        return None

    i, j = found

    # mesma linha, à direita
    for jj in range(j, raw.shape[1]):
        val = _parse_number_from_any(raw.iat[i, jj])
        if val is not None:
            return val

    # até 3 linhas abaixo, à direita
    for ii in range(i+1, min(i+4, len(raw))):
        for jj in range(j, raw.shape[1]):
            val = _parse_number_from_any(raw.iat[ii, jj])
            if val is not None:
                return val

    return None

In [4]:
def extract_colheita_from_raw(raw: pd.DataFrame) -> pd.DataFrame:
    hdr = find_header_row(raw)
    if hdr is None:
        return pd.DataFrame()

    start = hdr + 3

    # headers (3 linhas)
    h0 = pd.Series(raw.iloc[hdr].tolist()).map(norm).tolist()
    h1 = pd.Series(raw.iloc[hdr+1].tolist() if hdr+1 < len(raw) else [""]*len(h0)).map(norm)
    h2 = pd.Series(raw.iloc[hdr+2].tolist() if hdr+2 < len(raw) else [""]*len(h0)).map(norm)

    # MUITO importante: preencher mesclados (Normal/Refugo/Resultado...) nas colunas vazias
    h1 = h1.replace("", pd.NA).ffill().fillna("").tolist()
    h2 = h2.replace("", pd.NA).ffill().fillna("").tolist()

    idx_bloco = h0.index("bloco")
    idx_cultura = h0.index("cultura")

    # acha índices de colunas pertencentes a uma seção (ex: "resultado da semana")
    def section_cols(section_keywords):
        idxs = []
        for j in range(len(h0)):
            txt = (h1[j] + " " + h2[j]).strip()
            if any(k in txt for k in section_keywords):
                idxs.append(j)
        return idxs

    # escolhe 4 colunas: caixas_normal, peso_normal, caixas_refugo, peso_refugo
    # ignorando a coluna "peso total" quando existir (S09+)
    def pick_4_from(section_idxs):
        cn = pn = cr = pr = None
        for j in section_idxs:
            txt = (h1[j] + " " + h2[j]).strip()

            is_normal = "normal" in txt
            is_refugo = "refugo" in txt
            is_caixas = ("caixas" in txt) or ("nº" in txt) or ("no" in txt)
            is_peso = "peso" in txt
            is_total = "total" in txt  # <- chave do problema S09+

            # caixas
            if is_normal and is_caixas and cn is None:
                cn = j
            elif is_refugo and is_caixas and cr is None:
                cr = j

            # peso (não pegar peso TOTAL)
            if is_normal and is_peso and (not is_total) and pn is None:
                pn = j
            elif is_refugo and is_peso and (not is_total) and pr is None:
                pr = j

        if None in (cn, pn, cr, pr):
            return None
        return [cn, pn, cr, pr]

    # detecta semanal / acumulado pelos headers (mais flexível)
    sem_cols = section_cols(["resultado da semana"])
    acu_cols = section_cols(["resultado total", "acumulado", "momento"])

    semana_idxs = pick_4_from(sem_cols)
    acum_idxs   = pick_4_from(acu_cols)

    # lê dados
    df = raw.iloc[start:, :].copy().dropna(how="all")
    if df.empty:
        return pd.DataFrame()

    # remove linhas de rodapé que tenham "TOTAL" na cultura
    cultura_col = df.iloc[:, idx_cultura].astype(str).str.upper()
    df = df[~cultura_col.str.contains("TOTAL", na=False)]

    # bloco: ffill e extrai número
    bloco_raw = df.iloc[:, idx_bloco].ffill()
    bloco_num = pd.to_numeric(bloco_raw.astype(str).str.extract(r"(\d+)", expand=False), errors="coerce")

    ok = bloco_num.notna()
    df = df.loc[ok].copy()
    bloco_num = bloco_num.loc[ok].astype(int)

    # cultura: remove vazios/NaN (não transformar em string "nan")
    cultura = df.iloc[:, idx_cultura]
    cultura_ok = (
        cultura.notna()
        & (cultura.astype(str).str.strip() != "")
        & (cultura.astype(str).str.strip().str.lower() != "nan")
    )
    df = df.loc[cultura_ok].copy()
    bloco_num = bloco_num.loc[cultura_ok].copy()
    cultura = cultura.loc[cultura_ok].astype(str).str.strip()

    # valida índices contra df real
    def idxs_valid(idxs):
        if not idxs or len(idxs) != 4:
            return False
        ncols = df.shape[1]
        return all(0 <= i < ncols for i in idxs)

    # fallbacks POR LAYOUT (se o header não foi suficiente)
    # Layout antigo (S01–S08): semanal = [6,7,8,9] ; acumulado = [10,11,12,13]
    # Layout novo (S09+):      semanal = [6,7,9,10] ; acumulado = [11,12,14,15]
    if not idxs_valid(semana_idxs):
        # tenta inferir pela existência de "peso total" em qualquer header
        has_peso_total = any(("peso" in (h1[j] + " " + h2[j])) and ("total" in (h1[j] + " " + h2[j])) for j in range(len(h0)))
        semana_idxs = [6,7,9,10] if has_peso_total else [6,7,8,9]

    if not idxs_valid(acum_idxs):
        has_peso_total = any(("peso" in (h1[j] + " " + h2[j])) and ("total" in (h1[j] + " " + h2[j])) for j in range(len(h0)))
        acum_idxs = [11,12,14,15] if has_peso_total else [10,11,12,13]

    parts = []

    # SEMANAL
    if idxs_valid(semana_idxs):
        sem = pd.DataFrame({
            "bloco": bloco_num.values,
            "cultura": cultura.values,
            "caixas_normal": pd.to_numeric(df.iloc[:, semana_idxs[0]], errors="coerce").fillna(0),
            "peso_normal_kg": to_float(df.iloc[:, semana_idxs[1]]),
            "caixas_refugo": pd.to_numeric(df.iloc[:, semana_idxs[2]], errors="coerce").fillna(0),
            "peso_refugo_kg": to_float(df.iloc[:, semana_idxs[3]]),
            "tipo_resultado": "SEMANAL",
            "total_caixas_rodape": None
        })
        parts.append(sem)
    else:
        return pd.DataFrame()

    # ACUMULADO (se existir)
    if idxs_valid(acum_idxs):
        acum = pd.DataFrame({
            "bloco": bloco_num.values,
            "cultura": cultura.values,
            "caixas_normal": pd.to_numeric(df.iloc[:, acum_idxs[0]], errors="coerce").fillna(0),
            "peso_normal_kg": to_float(df.iloc[:, acum_idxs[1]]),
            "caixas_refugo": pd.to_numeric(df.iloc[:, acum_idxs[2]], errors="coerce").fillna(0),
            "peso_refugo_kg": to_float(df.iloc[:, acum_idxs[3]]),
            "tipo_resultado": "ACUMULADO",
            "total_caixas_rodape": None
        })
        parts.append(acum)

    # TOTALIZADOR
    total_caixas = extract_total_caixas_rodape(raw)
    if total_caixas is not None:
        parts.append(pd.DataFrame([{
            "bloco": None,
            "cultura": None,
            "caixas_normal": None,
            "peso_normal_kg": None,
            "caixas_refugo": None,
            "peso_refugo_kg": None,
            "tipo_resultado": "TOTALIZADOR",
            "total_caixas_rodape": total_caixas
        }]))

    return pd.concat(parts, ignore_index=True)

In [5]:
xls = pd.ExcelFile(FILE_PATH)
parts = []

ano = parse_ano_from_filename(FILE_PATH, ano_fallback=ANO_FALLBACK)

for sheet in xls.sheet_names:
    m = re.search(SHEET_WEEK_PATTERN, sheet.strip(), flags=re.IGNORECASE)
    if not m:
        continue

    semana = int(m.group(1))
    raw = pd.read_excel(FILE_PATH, sheet_name=sheet, header=None, dtype=object)

    # (opcional) log para debug
    # print("Processando:", sheet, "| ncols:", raw.shape[1])

    try:
        df_part = extract_colheita_from_raw(raw)
    except Exception as e:
        print("⚠️ ERRO na aba:", sheet, "|", e)
        continue

    if df_part.empty:
        # print("Aba ignorada (sem dados):", sheet)
        continue

    df_part["ano"] = ano
    df_part["semana"] = semana
    df_part["aba_origem"] = sheet
    df_part["arquivo_origem"] = Path(FILE_PATH).name

    parts.append(df_part)

df_bronze = pd.concat(parts, ignore_index=True) if parts else pd.DataFrame()

print("df_bronze shape:", df_bronze.shape)
if not df_bronze.empty:
    print("Semanas no df_bronze:", sorted(df_bronze["semana"].dropna().unique().tolist()))
    print("Linhas SEMANAL:", (df_bronze["tipo_resultado"]=="SEMANAL").sum())
    print("Linhas ACUMULADO:", (df_bronze["tipo_resultado"]=="ACUMULADO").sum())
    print("Linhas TOTALIZADOR:", (df_bronze["tipo_resultado"]=="TOTALIZADOR").sum())

display(df_bronze.head(30))

C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)
C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\2611844535.py:158: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(parts, ignore_index=True)

df_bronze shape: (5644, 12)
Semanas no df_bronze: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]
Linhas SEMANAL: 2799
Linhas ACUMULADO: 2799
Linhas TOTALIZADOR: 46

C:\Users\cauai.Capozzoli\AppData\Local\Temp\ipykernel_24240\1428920680.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_bronze = pd.concat(parts, ignore_index=True) if parts else pd.DataFrame()

,bloco,cultura,caixas_normal,peso_normal_kg,caixas_refugo,peso_refugo_kg,tipo_resultado,total_caixas_rodape,ano,semana,aba_origem,arquivo_origem
0,4,Phisallis,2.0,16.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
1,8,Tomate Salada,331.0,6478.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
2,8,Tomate Xuxa,262.0,3516.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
3,8,Tomate Cacho,0.0,0.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
4,8,Tomate Cacho Albrice,8.0,190.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
5,8,Tomate Cacho Damares,11.0,178.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
6,8,Mini-Tomate,9.0,170.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
7,8,Salada do Cacho,7.0,140.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
8,9,Tomate Salada,400.0,8200.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
9,9,Tomate Xuxa,217.0,4746.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
10,9,Tomate Cacho,0.0,0.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
11,9,Tomate Cacho Albrice,18.0,226.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
12,9,Tomate Cacho Damares,28.0,384.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
13,9,Mini-Tomate,8.0,152.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
14,9,Salada do Cacho,9.0,182.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
15,12,Tomate Salada,36.0,776.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
16,12,Tomate Xuxa,107.0,2086.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
17,12,Tomate Cacho,0.0,0.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
18,12,Tomate Cacho Albrice,3.0,60.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
19,12,Tomate Cacho Damares,5.0,80.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
20,12,Mini-Tomate,4.0,80.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
21,12,Salada do Cacho,0.0,0.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
22,13,Feijão-Verde (Naves 1 a 10),149.0,1082.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
23,15,Pimento Vermelho,297.0,2430.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
24,15,Pimento Amarelo,105.0,1010.0,9.0,90.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
25,15,Pimento Amarelo United,125.0,1170.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
26,15,Pimento Laranja,29.0,323.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
27,15,Pimento Verde,0.0,0.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
28,16,Tomate Salada,241.0,4958.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx
29,16,Tomate Xuxa,0.0,0.0,0.0,0.0,SEMANAL,NaN,2025,47,S47_2025,colheita_estufas.xlsx

In [6]:
df_bronze.total_caixas_rodape.unique()

array([   nan,  7140.,  7991.,  6025.,  7152.,  6606.,  7257.,  6489.,
        8078.,  8293.,  7710., 10188.,  8114.,  8052.,  8086.,  7559.,
        7483.,  7171.,  6441.,  5600.,  6573.,  6235.,  5776.,  5294.,
        4733.,  5447.,  5364.,  5349.,  4760.,  5111.,  5454.,  5939.,
        6472.,  5982.,  5538.,  5848.,  5866.,  6060.,  6708.,  6740.,
        7791.,  7603.,  7354.,  6528.,  6396.,  8243.,  8663.])

In [7]:
load_dotenv()

DATABASE_URL = os.getenv(
    "DATABASE_URL",
    "postgresql://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala"
)

engine = create_engine(DATABASE_URL)
print("✅ Engine OK")

✅ Engine OK

In [8]:
with engine.begin() as conn:
    conn.execute(text("CREATE SCHEMA IF NOT EXISTS bronze;"))

    conn.execute(text("""
    CREATE TABLE IF NOT EXISTS bronze.colheitas_bronze (
        bloco INT,
        cultura TEXT,
        caixas_normal NUMERIC,
        peso_normal_kg NUMERIC,
        caixas_refugo NUMERIC,
        peso_refugo_kg NUMERIC,

        tipo_resultado TEXT,          -- SEMANAL | ACUMULADO | TOTALIZADOR
        total_caixas_rodape NUMERIC,  -- só TOTALIZADOR

        semana INT,
        ano INT,

        aba_origem TEXT,
        arquivo_origem TEXT,
        carga_id TEXT,
        carga_ts TIMESTAMP
    );
    """))

print("✅ Schema/tabela bronze.colheitas_bronze garantidos.")

✅ Schema/tabela bronze.colheitas_bronze garantidos.

In [9]:
semanas_carga = (
    df_bronze[["ano", "semana"]]
    .dropna()
    .drop_duplicates()
    .astype(int)
    .sort_values(["ano", "semana"])
)

print("Semanas encontradas na carga:")
print(semanas_carga.to_string(index=False))

with engine.begin() as conn:
    for _, r in semanas_carga.iterrows():
        conn.execute(
            text("""
                DELETE FROM bronze.colheitas_bronze
                WHERE ano = :ano AND semana = :semana
            """),
            {"ano": int(r["ano"]), "semana": int(r["semana"])}
        )

print(f"🧹 Limpei no banco {len(semanas_carga)} semanas desta carga.")

Semanas encontradas na carga:
 ano  semana
2025       1
2025       2
2025       3
2025       4
2025       5
2025       6
2025       7
2025       8
2025       9
2025      10
2025      11
2025      12
2025      13
2025      14
2025      15
2025      16
2025      17
2025      18
2025      19
2025      20
2025      21
2025      22
2025      23
2025      24
2025      25
2025      26
2025      27
2025      28
2025      29
2025      30
2025      31
2025      32
2025      33
2025      34
2025      35
2025      36
2025      37
2025      38
2025      39
2025      40
2025      41
2025      42
2025      43
2025      44
2025      45
2025      46
2025      47
🧹 Limpei no banco 47 semanas desta carga.

In [10]:
carga_id = datetime.now().strftime("%Y%m%d_%H%M%S")

df_up = df_bronze.copy()
df_up["carga_id"] = carga_id
df_up["carga_ts"] = pd.Timestamp.now()

df_up["cultura"] = df_up["cultura"].astype(str).str.strip()

df_up.to_sql(
    name="colheitas_bronze",
    con=engine,
    schema="bronze",
    if_exists="append",
    index=False,
    method="multi",
    chunksize=2000
)

print("✅ Carga concluída | carga_id:", carga_id)

✅ Carga concluída | carga_id: 20251215_153605