In [23]:
from sqlalchemy import text

In [24]:

CONN_STR = "postgresql+psycopg2://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala"
engine = create_engine(CONN_STR)

with engine.begin() as conn: 
    print(conn.execute(text("SELECT 1")).scalar())

1

In [27]:
sql_create_table = text("""
DROP TABLE IF EXISTS silver.dim_cultura_analitica;

CREATE TABLE silver.dim_cultura_analitica AS
WITH base AS (
  SELECT
    cultura_id,
    cultura_nome,
    tipo_ocupacao,

    -- normalização base
    TRIM(
      REGEXP_REPLACE(
        REGEXP_REPLACE(
          REGEXP_REPLACE(COALESCE(cultura_nome, ''), '\\s+Teste\\s*$', '', 'i'),
          '\\s+', ' ', 'g'
        ),
        '\\.\\s*$', '', 'g'
      )
    ) AS cultura_norm
  FROM silver.dim_cultura
),
calc AS (
  SELECT
    /* -----------------------------
       1) cultura_grupo (macro)
       ----------------------------- */
    CASE
      WHEN LOWER(cultura_norm) LIKE 'em limpeza%' THEN 'Operacional'
      WHEN LOWER(cultura_norm) LIKE 'em preparo%' THEN 'Operacional'
      WHEN LOWER(cultura_norm) LIKE 'preparo de solo%' THEN 'Operacional'
      WHEN LOWER(cultura_norm) LIKE 'praparad%' OR LOWER(cultura_norm) LIKE 'preparad%' THEN 'Operacional'
      WHEN LOWER(cultura_norm) LIKE 'operações%' OR LOWER(cultura_norm) LIKE 'operacoes%' THEN 'Operacional'
      WHEN LOWER(cultura_norm) LIKE 'vazias%' THEN 'Operacional'
      WHEN LOWER(cultura_norm) LIKE 'sem ultiliza%' OR LOWER(cultura_norm) LIKE 'sem utiliza%' THEN 'Operacional'

      WHEN LOWER(cultura_norm) LIKE 'flores%' THEN 'Flores'

      WHEN LOWER(cultura_norm) LIKE '%alface%' THEN 'Alface'
      WHEN LOWER(cultura_norm) LIKE '%tomate%' THEN 'Tomate'
      WHEN LOWER(cultura_norm) LIKE '%pimento%' THEN 'Pimento'
      WHEN LOWER(cultura_norm) LIKE '%pepino%' THEN 'Pepino'
      WHEN LOWER(cultura_norm) LIKE '%courgette%' THEN 'Courgette'
      WHEN LOWER(cultura_norm) LIKE '%feijão%' OR LOWER(cultura_norm) LIKE '%feijao%' THEN 'Feijão-Verde'
      WHEN LOWER(cultura_norm) LIKE '%phisallis%' OR LOWER(cultura_norm) LIKE '%physalis%' THEN 'Phisallis'
      WHEN LOWER(cultura_norm) LIKE '%chuchu%' THEN 'Chuchu'
      WHEN LOWER(cultura_norm) LIKE '%gindungo%' THEN 'Gindungo'

      WHEN LOWER(cultura_norm) IN ('', 'none', 'null') THEN 'None'
      ELSE cultura_norm
    END AS cultura_grupo,

    cultura_id,
    cultura_nome,
    tipo_ocupacao,

    /* -----------------------------
       2) cultura_padronizado (COM OS TEUS AGRUPAMENTOS)
       ----------------------------- */
    CASE
      -- não é cultura
      WHEN LOWER(cultura_norm) IN ('', 'none', 'null') THEN 'Não é cultura'
      WHEN LOWER(cultura_norm) LIKE 'vazias%' THEN 'Não é cultura'

      -- Operações Campo Aberto e Café (mantém)
      WHEN LOWER(cultura_norm) LIKE 'operacoes campo aberto e cafe%'
        OR LOWER(cultura_norm) LIKE 'operações campo aberto e café%'
        OR LOWER(cultura_norm) = 'operações campo aberto e café'
        OR LOWER(cultura_norm) = 'operacoes campo aberto e cafe'
      THEN 'Operações Campo Aberto e Café'

      -- Sem utilização do bloco (inclui "Não há plástico")
      WHEN LOWER(cultura_norm) LIKE 'sem ultiliza%'
        OR LOWER(cultura_norm) LIKE 'sem utiliza%'
        OR LOWER(cultura_norm) LIKE '%não há plástico%'
        OR LOWER(cultura_norm) LIKE '%nao ha plastico%'
        OR LOWER(cultura_norm) LIKE '%não ha plástico%'
        OR LOWER(cultura_norm) LIKE '%nao há plastico%'
      THEN 'Sem utilização do bloco'

      -- Área em preparo de solo (inclui variações e observações)
      WHEN LOWER(cultura_norm) LIKE 'em preparo%'
        OR LOWER(cultura_norm) LIKE 'preparo de solo%'
        OR LOWER(cultura_norm) LIKE '%preparo de solo%'
        OR LOWER(cultura_norm) LIKE '%finalizado%'
        OR LOWER(cultura_norm) LIKE '%aguardando mudas%'
        OR LOWER(cultura_norm) LIKE 'praparado%'
        OR LOWER(cultura_norm) LIKE 'preparado%'
        OR LOWER(cultura_norm) LIKE '%praparado para plantio%'
        OR LOWER(cultura_norm) LIKE '%preparado para plantio%'
      THEN 'Área em preparo de solo'

      -- Área em limpeza (qualquer coisa relacionada a limpeza)
      WHEN LOWER(cultura_norm) LIKE 'em limpeza%'
        OR LOWER(cultura_norm) LIKE '%limpez%'
      THEN 'Área em limpeza'

      -- Normalizações específicas antigas (mantive as tuas)
      WHEN cultura_norm IN ('Alface  Iceberg', 'Alface Iceberg') THEN 'Alface Iceberg'
      WHEN cultura_norm IN ('Alface Roxo', 'Alface Roxa', 'Alface Roxp') THEN 'Alface Roxo'
      WHEN LOWER(cultura_norm) LIKE 'feij%' THEN 'Feijão Verde'

      WHEN LOWER(cultura_norm) LIKE 'mini-tomate%' OR LOWER(cultura_norm) LIKE 'mini tomate%' THEN 'Tomate mini'
      WHEN LOWER(cultura_norm) LIKE 'tomate cacho%' OR LOWER(cultura_norm) LIKE 'salada do cacho%' THEN 'Tomate cacho'
      WHEN LOWER(cultura_norm) LIKE 'tomate cereja%' THEN 'Tomate cereja'
      WHEN LOWER(cultura_norm) LIKE 'tomate chucha%' OR LOWER(cultura_norm) LIKE 'tomate xuxa%' THEN 'Tomate chucha'
      WHEN LOWER(cultura_norm) LIKE 'tomate mini chucha%' THEN 'Tomate mini chucha'
      WHEN LOWER(cultura_norm) LIKE 'tomate mini salada%' THEN 'Tomate mini salada'
      WHEN LOWER(cultura_norm) LIKE 'tomate salada%' THEN 'Tomate salada'

      WHEN LOWER(cultura_norm) LIKE 'pimento amarelo corno touro%'
        OR LOWER(cultura_norm) LIKE 'pimento amarelo united%' THEN 'Pimento Amarelo'
      WHEN LOWER(cultura_norm) LIKE 'pimento verde corno touro%' THEN 'Pimento Verde'
      WHEN LOWER(cultura_norm) LIKE 'pimento vermelho corno touro%'
        OR LOWER(cultura_norm) LIKE 'pimento vermelho baqueiro%'
        OR LOWER(cultura_norm) LIKE 'pimento vermelho p.s%' THEN 'Pimento Vermelho'

      ELSE cultura_norm
    END AS cultura_padronizado
  FROM base
),
ids AS (
  SELECT
    *,
    DENSE_RANK() OVER (ORDER BY cultura_grupo) AS cultura_grupo_id,
    DENSE_RANK() OVER (ORDER BY cultura_padronizado) AS cultura_padronizado_id
  FROM calc
)
SELECT
  cultura_grupo_id,
  cultura_padronizado_id,
  cultura_id,
  cultura_grupo,
  cultura_padronizado,
  cultura_nome,
  tipo_ocupacao
FROM ids;
""")

with engine.begin() as conn:
    conn.execute(sql_create_table)

print("✅ silver.dim_cultura_analitica criada com agrupamentos + IDs")

✅ silver.dim_cultura_analitica criada com agrupamentos + IDs