In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

CONN_STR = "postgresql+psycopg2://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala"
engine = create_engine(CONN_STR)

In [2]:
with engine.begin() as conn:
    v = conn.execute(text("SELECT 1")).scalar()
print("✅ conexão ok:", v)

✅ conexão ok: 1

In [6]:
from sqlalchemy import text

ddl = """
CREATE SCHEMA IF NOT EXISTS silver;

DROP TABLE IF EXISTS silver.fact_inventario_nave;
DROP TABLE IF EXISTS silver.fact_inventario_lote;
DROP TABLE IF EXISTS silver.fact_colheita_linha;
DROP TABLE IF EXISTS silver.dim_cultura;
DROP TABLE IF EXISTS silver.dim_estufa_bloco;
DROP TABLE IF EXISTS silver.dim_tempo;

-- =========================
-- DIMENSÕES
-- =========================

CREATE TABLE silver.dim_tempo (
  ano_semana TEXT PRIMARY KEY,
  ano INT NOT NULL,
  semana INT NOT NULL
);

CREATE TABLE silver.dim_cultura (
  cultura_id SERIAL PRIMARY KEY,
  cultura_nome TEXT UNIQUE NOT NULL,
  tipo_ocupacao TEXT NOT NULL
);

CREATE TABLE silver.dim_estufa_bloco (
  bloco_id INT PRIMARY KEY,
  n_naves INT,
  area_nave NUMERIC(10,3),
  area_total NUMERIC(10,3)
);

-- =========================
-- FACTS
-- =========================

CREATE TABLE silver.fact_inventario_lote (
  ano_semana TEXT NOT NULL,
  ano INT NOT NULL,
  semana INT NOT NULL,

  bloco_id INT NOT NULL,
  naves TEXT NOT NULL,

  cultura_id INT NOT NULL,

  idade INT,
  semana_plantio INT,
  data_plantio DATE,

  n_naves_lote INT,
  parse_ok BOOLEAN,

  PRIMARY KEY (ano_semana, bloco_id, naves, cultura_id)
);

CREATE TABLE silver.fact_inventario_nave (
  ano_semana TEXT NOT NULL,
  ano INT NOT NULL,
  semana INT NOT NULL,

  bloco_id INT NOT NULL,
  nave INT NOT NULL,

  cultura_id INT NOT NULL,
  tipo_ocupacao TEXT NOT NULL,

  idade INT,
  semana_plantio INT,
  data_plantio DATE,

  area_ha NUMERIC(10,3),

  PRIMARY KEY (ano_semana, bloco_id, nave)
);

CREATE TABLE silver.fact_colheita_linha (
  ano_semana TEXT NOT NULL,
  ano INT NOT NULL,
  semana INT NOT NULL,

  bloco_id INT NOT NULL,
  cultura_id INT NOT NULL,

  peso_normal_kg NUMERIC(12,2),
  caixas_normal NUMERIC(12,2),
  peso_refugo_kg NUMERIC(12,2),
  caixas_refugo NUMERIC(12,2),

  PRIMARY KEY (ano_semana, bloco_id, cultura_id)
);
"""

with engine.begin() as conn:
    conn.execute(text(ddl))

print("✅ SILVER criada com sucesso")

✅ SILVER criada com sucesso

In [7]:
with engine.begin() as conn:
    tables = conn.execute(text("""
        SELECT table_schema, table_name
        FROM information_schema.tables
        WHERE table_schema='silver'
        ORDER BY table_name
    """)).fetchall()

tables

[('silver', 'dim_cultura'),
 ('silver', 'dim_estufa_bloco'),
 ('silver', 'dim_tempo'),
 ('silver', 'fact_colheita_linha'),
 ('silver', 'fact_inventario_lote'),
 ('silver', 'fact_inventario_nave'),
 ('silver', 'inventario_estufas'),
 ('silver', 'inventario_estufas_silver')]