In [1]:
import pandas as pd
import re
import math
from sqlalchemy import create_engine, text

engine = create_engine("postgresql+psycopg2://estufas_user:estufas_pass_123@localhost:5432/estufas_kibala")

In [2]:
# 1) pega todos os lotes (sem filtro)
df = pd.read_sql("""
SELECT
  fl.ano_semana,
  fl.ano,
  fl.semana,
  fl.bloco_id,
  fl.naves,
  fl.cultura_id,
  fl.idade,
  fl.semana_plantio,
  fl.data_plantio,
  fl.parse_ok,
  db.n_naves AS n_naves_bloco,
  db.area_nave,
  dc.tipo_ocupacao
FROM silver.fact_inventario_lote fl
JOIN silver.dim_estufa_bloco db ON fl.bloco_id = db.bloco_id
JOIN silver.dim_cultura dc ON fl.cultura_id = dc.cultura_id;
""", engine)

print("Lotes total:", len(df))

Lotes total: 1850

In [3]:
df

,ano_semana,ano,semana,bloco_id,naves,cultura_id,idade,semana_plantio,data_plantio,parse_ok,n_naves_bloco,area_nave,tipo_ocupacao
0,2025-50,2025,50,1,1 a 23,19,NaN,NaN,None,False,23,0.057,NAO_PRODUTIVA
1,2025-50,2025,50,2,1 a 19,19,NaN,NaN,None,False,19,0.057,NAO_PRODUTIVA
2,2025-50,2025,50,3,1 a 19,24,NaN,NaN,None,False,19,0.057,NAO_PRODUTIVA
3,2025-50,2025,50,4,1 a 9,2,NaN,NaN,None,False,19,0.057,PRODUTIVA
4,2025-50,2025,50,4,10 a 17,24,NaN,NaN,None,False,19,0.057,NAO_PRODUTIVA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1845,2025-01,2025,1,6,13 e 14,2,1.0,NaN,None,True,22,0.060,PRODUTIVA
1846,2025-01,2025,1,4,6 e 7,2,2.0,51.0,2024-12-16,True,19,0.057,PRODUTIVA
1847,2025-01,2025,1,7,9 a 12,2,1.0,NaN,None,False,22,0.060,PRODUTIVA
1848,2025-01,2025,1,8,13 a 18,2,1.0,52.0,2024-12-23,False,20,0.060,PRODUTIVA
1849,2025-01,2025,1,6,1 a 6,2,0.0,1.0,2025-01-30,False,22,0.060,PRODUTIVA

In [6]:
def expand_naves(txt):
    if txt is None:
        return []
    t = str(txt).lower().strip()
    t = t.replace(" e ", ",").replace(";", ",")
    t = t.replace("a confirmar", "").strip()
    if t == "":
        return []

    naves = set()

    # intervalos "7 a 12"
    for a, b in re.findall(r"(\d+)\s*a\s*(\d+)", t):
        a = int(a); b = int(b)
        if b >= a:
            for i in range(a, b + 1):
                naves.add(i)

    # números soltos
    t2 = re.sub(r"\d+\s*a\s*\d+", "", t)
    for s in re.findall(r"\b\d+\b", t2):
        naves.add(int(s))

    return sorted(naves)

rows = []
for _, r in df.iterrows():
    naves = expand_naves(r["naves"])

    # flag de parsing real (independente do parse_ok do lote)
    parse_ok_calc = True if len(naves) > 0 else False

    for nave in naves:
        if nave <= int(r["n_naves_bloco"]):  # valida limite físico do bloco
            rows.append({
                "ano_semana": r["ano_semana"],
                "ano": int(r["ano"]),
                "semana": int(r["semana"]),
                "bloco_id": int(r["bloco_id"]),
                "nave": int(nave),
                "cultura_id": int(r["cultura_id"]),
                "tipo_ocupacao": r["tipo_ocupacao"],
                "idade": None if pd.isna(r["idade"]) else int(r["idade"]),
                "semana_plantio": None if pd.isna(r["semana_plantio"]) else int(r["semana_plantio"]),
                "data_plantio": None if pd.isna(r["data_plantio"]) else r["data_plantio"],
                "area_ha": float(r["area_nave"]) if not pd.isna(r["area_nave"]) else None,
                # opcional: guardar flags para BI (mesmo que a tabela não tenha ainda)
                # "parse_ok_lote": bool(r["parse_ok"]),
                # "parse_ok_calc": bool(parse_ok_calc),
            })

fact_nave = pd.DataFrame(rows)
print("Naves geradas:", len(fact_nave))
fact_nave.head()

Naves geradas: 23908

,ano_semana,ano,semana,bloco_id,nave,cultura_id,tipo_ocupacao,idade,semana_plantio,data_plantio,area_ha
0,2025-50,2025,50,1,1,19,NAO_PRODUTIVA,NaN,NaN,None,0.057
1,2025-50,2025,50,1,2,19,NAO_PRODUTIVA,NaN,NaN,None,0.057
2,2025-50,2025,50,1,3,19,NAO_PRODUTIVA,NaN,NaN,None,0.057
3,2025-50,2025,50,1,4,19,NAO_PRODUTIVA,NaN,NaN,None,0.057
4,2025-50,2025,50,1,5,19,NAO_PRODUTIVA,NaN,NaN,None,0.057

In [7]:
sql_insert = text("""
INSERT INTO silver.fact_inventario_nave (
  ano_semana, ano, semana, bloco_id, nave,
  cultura_id, tipo_ocupacao,
  idade, semana_plantio, data_plantio,
  area_ha
)
VALUES (
  :ano_semana, :ano, :semana, :bloco_id, :nave,
  :cultura_id, :tipo_ocupacao,
  :idade, :semana_plantio, :data_plantio,
  :area_ha
)
ON CONFLICT (ano_semana, bloco_id, nave) DO NOTHING;
""")

records = fact_nave.to_dict("records")

# limpa NaN/NaT do dict
for r in records:
    for k, v in list(r.items()):
        if isinstance(v, float) and (math.isnan(v) or math.isinf(v)):
            r[k] = None
        elif pd.isna(v):
            r[k] = None

with engine.begin() as conn:
    conn.execute(sql_insert, records)

print("✅ fact_inventario_nave carregada:", len(records))

✅ fact_inventario_nave carregada: 23908